{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="my-5 container">

    <h1>Order a Pizza</h1>
    {% if object_pk %}
    <a href="{% url 'edit_order' pk=object_pk %}">Edit</a>
    {% endif %}
    <br>
    <h3>{{ note }}</h3>
    <br>
    <form action="{% url 'order' %}" method="post">{% csrf_token %}
        {% for field in pizzaform %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Pizza Order" class="btn btn-success">
    </form> 
    <br>
    <h4>Wanna order more than 1 pizza!</h4>
    <br>
    <form action="{% url 'pizzas' %}" method="GET">{% csrf_token %}
        {{ multiple_form }}
        <input type="submit" value="Order Pizza" class="btn btn-success">
    </form>
</div>
{% if pizzaform.errors %}
    <h1>{{ pizzaform.errors.top1.as_text }}</h1>
{% endif %}
{% endblock %}
